//===============================
// Color Variables
//===============================
$color-text-gray-dark: #3e3e3e;
$color-text-gray-medium: #777;
$color-text-red-dark: #390c13;


$color-steel-gray-dark: #2d3436;
$color-steel-gray-light: #e8e8e8;


$color-flag-red-dark: #9c0a0b;
$color-flag-red-light: #fecfd1;

$color-timeline-background-light: #fafafa;
$color-timeline-background-medium: #f7f7f7;
$color-timeline-background-dark: #f2f2f2;

//===============================
// GRID Variables
//===============================
$grid-width: 114rem;
$grid-gutter-vertical: 8rem;
$grid-gutter-horizontal: 6rem;