/*
// barwy flagi:
// CZERWIEN:
// oficjalna: #d4213D
// nieoficjalna: #ff000
// BIEL: #e7e8e9;
//KREW JASNA: #9c0a0b
//KREW CIEMNA: #390c13
*/

$color-text-gray-dark: #3e3e3e;
$color-text-gray-medium: #777;
$color-text-red-dark: #390c13;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    
}

body {
    //max-width: 1240px;
    margin: 0 auto;
    padding-top: 20px;
    color: $color-text-gray-dark;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
    
}


.header {
    
    height: 75vh;
    position: relative;
    
     &__primary {
    //font-family: candara; Dosis; allerta stencil, mallanna, montserrat, nanum gothic
        position: absolute;
        width: 100%;
        height: 100%;
        font-family: Lato;
        line-height: .9;
        color: #9c0a0b;
    
        &--main {
            display: block;
            position: absolute;
            width: 100%;
            top: 7%;
            left: 2%;
            font-size: 100px;
            font-weight: 500;
            color: rgba(70, 70, 70, .1);
        } 

        &--sub {
            display: block;
            position: absolute;
            font-weight: 100;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
         
         &__cel {
             display: block;
             width: 100%;
         }
        
        &--100 {
            display: block;
            font-weight: 700;
           
        } 
        
        &--of {
            display: block;
        } 

        &--ind {
            font-weight: 700; 
            text-transform: uppercase;
        }
        
        &--bold {
            font-size: 70px;     
         }
    }
    
    &__flag {
        width: 100%;
        height: 100%;
            
        &--top {
          height: 50%;
          background-image: linear-gradient(
            to right,
            #f0f0f0,
            #dadada);
        }
    
        &--bottom {
          height: 50%;
          background-image: linear-gradient(
            to right, 
            #fecfd1, 
            //#d4213D,
            #9c0a0b);
        }
        
        &--blood {
            text-align: right;
            
            &-photo {
                max-width: 25%;
            }
        }
    }
}
