.drip-container {
  width: 100%;
  height: 100%;
  margin: 0 auto 1.5rem auto;
  //background: #ccc;
    z-index: 10;
  //overflow: hidden;
  position: relative;
  //box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.liquid__background {
  width: 100%;
  height: 10px;
  position: absolute;
  top: 0%;
  left: 0%;
    overflow: hidden;
  background-image: linear-gradient(
                to right, 
                #fecfd1, 
                #9c0a0b);
  animation: liquid 6s 1;
    animation-fill-mode: forwards;
}

.liquid__container {
  filter: url("#goo");
  width: 100%;
  height: 100%;
  position: relative;
}
.liquid__container .liquid__drip {
  width: 30px;
  height: 30px;
  margin: 0 5px 0px 0;
  border-radius: 50%;
  position: absolute;
  top: 0;
    color: white;
}

//.liquid__container .liquid__drip:nth-child(1) {
//left: 4%;
//    animation: drip-zero 15s infinite;
//}

.liquid__container .liquid__drip:nth-child(2) {
   display: none;
}

.liquid__container .liquid__drip:nth-child(3) {
   display: none;
}

.liquid__container .liquid__drip:nth-child(4) {
 display: none;  }
.liquid__container .liquid__drip:nth-child(5) {
  display: none;
}
.liquid__container .liquid__drip:nth-child(6) {
  right: 14.5%;
    background-color: #AC2A2C;

    animation: drip_small 6s 1;
     animation-fill-mode: forwards;
}
.liquid__container .liquid__drip:nth-child(7) {
  right: -.3%;
    background-color: #9C0A0B;
    animation: drip_long 6s 1;
     animation-fill-mode: forwards;
}
.liquid__container .liquid__drip:nth-child(8) {
    right: 9%;
    background-color: #A01213;
    animation: drip_medium 6s 1;
     animation-fill-mode: forwards;
}
.liquid__container .liquid__drip:nth-child(9) {
    background-color: #A01213;

    right: 6%;
    width: 5rem;
    animation: drip_short_wide 6s 1;
     animation-fill-mode: forwards;
}

.liquid__container .liquid__drip:nth-child(10) {
    background-color: #A01213;

    right: 2.5%;
    width: 7rem;
    animation: drip_short_base 6s 1;
     animation-fill-mode: forwards;
}

.liquid__container .liquid__drip:nth-child(11) {
    background-color:#B43B3C;

    right: 20%;
    width: 5rem;
    animation: drip_short_wide_1 6s 1;
     animation-fill-mode: forwards;
}

.liquid__container .liquid__drip:nth-child(12) {
    background-color: #B03334;

    right: 18%;
    width: 5rem;
    animation: drip_medium_1 6s 1;
     animation-fill-mode: forwards;
}


