footer {
    background-color: #333;
    height: 180px;
}

.footer-nav li {
    float: left;
}

.footer-nav li,
.social-links li {
    list-style: none;
    margin: 30px 15px;
}

.footer-nav li a,
.social-links li a { 
    text-decoration: none;
    color: #b1b1b1;
}


footer p {
    text-align: center;
     color: #b1b1b1;
}
/*
.social-links li {
    float: right;
   
}

.social-links li i {
    font-size: 150%;
}

.social-links li:first-child {
    margin-right: 0px;
}

.footer-nav li:first-child {
    margin-left: 0;
}


.ion-social-facebook,
.social-link li a:link,
.social-link li a:visited {
   font-size: 110%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-instagram,
.ion-social-googleplus {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.ion-social-facebook:hover {
    color: #3b5998;

}

.ion-social-twitter:hover {
    color: #55acee;
}
    
.ion-social-googleplus:hover {
    color: #dd4b39;
}
        
.ion-social-instagram:hover {
    color: #e95950;        
}
*/
