.dialog-container {
    margin: 0 auto;
    max-width: 80rem;
    margin-top: 10rem;
    margin-bottom: 20rem;
    
    @include respond(tabPort) {
        padding: 0 2rem;
    }
}


.silhuettes {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 114rem;
    text-align: center;
    
}

.person {
    display: inline-block;
    z-index: 20;
    
    
    &__couple {
          
        width: 24%;
        filter:grayscale(80%);
        
        img {
            display: block;
            width: 100%;
        }
        
        @include respond(phone) {
            width: 37%;
        }
    }
    
    &__family {
        //display: block;  
        width: 33%;
        margin-bottom: 3rem;
        
        img {
            display: block;
            width: 100%;
        }
        
        @include respond(phone) {
            display: none;
        }
    }
    
    &__old {
        width: 26%;
        
        img {
            display: block;
            width: 100%;
        }
        
        @include respond(phone) {
            width: 38%;
        }
    }
    
    &__girl {
       // display: block;  
        width: 15%;
        
        img {
            display: block;
            width: 100%;
        }
        
        @include respond(phone) {
            width: 22%;
        }
    }
    
    &__abs {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
    }
   
}

.bottom__background {
    max-width: 114rem;
    height: 25rem;
    margin: -4rem auto 0 auto;
    background-color: darkgray;
   clip-path: polygon(0% 12%, 100% 0%, 100% 100%, 0 100%);
}