.dialog-container {
    margin: 0 auto;
    max-width: 80rem;
    margin-top: 10rem;
    
    @include respond(tabPort) {
        padding: 0 2rem;
    }
   
}


.silhuettes {
    text-align: center;
     //background-color: gray;
}

.person {
    display: inline-block;
    
    &__couple {
    display: block;  
    width: 35rem;
    }
    
    &__family {
    display: block;  
    width: 50rem;
    }
   
}