.dialog-container {
    margin: 0 auto;
    max-width: 80rem;
    margin-top: 10rem;
   
}

.silhuettes {
    text-align: center;
     background-color: gray;
}

.person {
    display: inline-block;
    
    
    img {
    display: block;  
    height: 40vh;
    }
   
}