// OPACITY FOR BCKGROUND MAP ON THE SECTION"S INTRO PARAGRAPH

.timeline-map {
    position: relative;
    overflow: hidden;
    padding: 5rem 0;
    
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: .1;
        background-image: url(../img/central_europe_trimmed.png);
        background-repeat: no-repeat;
        background-size: cover;
        filter: grayscale(80%);
    }
}



.long-copy__timeline-map {
    position: relative;
    //margin: 6rem 0;
    padding: 2rem 2rem;
    background-color: rgba(255,255,255, .7);
    //opacity: 1;
    z-index: 20;
    color: #555;
}

.long-copy__column--timeline {
    position: relative;
    padding: 2rem 3rem;
    background-color: rgba(255,255,255, .7);
    z-index: 20;
    color: #555;
}

// Button & display styles for MAP
.timeline-map__btn {
    display: inline-block;
    margin-top: 2rem;
    
    position: relative;
    padding: 2rem 3rem;
    background-color: rgba(255,255,255, .7);
    z-index: 20;
    color: #555;
}

.timeline-map__container {
    position: relative;
    display: block;
    width: 60rem;
    height: 0;
    margin: 3rem auto;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
    opacity: 0;
    transition: height .8s, opacity 1.9s;
}

.timeline-map__map {
    display: block;
    width: 100%;
}

.timeline-map__caption {
    display: block;
    width: 100%;
    margin: 0 auto;
    position: relative;
    bottom: 0;
    left: 0;
    transform: translateY(-100%);
    padding: 1rem 1.5rem;
    line-height: 1.8rem;
    font-size: 1.6rem;
}

.timeline-map__display {
    opacity: 1;
    height: 38rem;
}

// STYLES FOR DATES AT THE BOTTOM & TOP OF THE TIMELINE AXIS
.timeline-date {
    
    &__container {
         text-align: center;
        
// RAISED BOTTOM DATE BY 8 REM - div "row" has 8rem margin-bottom        
        &--bottom {
            position: relative;
            top: -8rem;
        }
    }
    
    &__top,
    &__bottom {
        display: inline-block;
        text-align: center;
        font-family: Georgia;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        margin-bottom: -3rem;
    }
    
    &__top {
        border-bottom: 2px solid black;
    }
    
    &__bottom {
        border-top: 2px solid black;
    }
}


// TIMELINE 'AXIS' START
.timeline-axis {
    position: relative;
    //padding-bottom: 3rem;
    
    &::before {
        position: absolute;
        left: 50%;
        content: "";
        width: 2px;
        background-color: #555;
        height: 100%;
    }
}
// TIMELINE 'AXIS' STYLES END 


// START STYLES FOR THE CONTAINER FOR EACH DATE ITEM
.timeline-item {
    position: relative;
    margin-top: 6rem;
    line-height: 1.1;
    
    &:first-child {
        margin-top: 6rem;
    }
    
// START TIMELINE ICON STYLES
    &__box {
        display: inline-block;
        position: absolute;
        left: calc(50% - 2rem);
        top: -.5rem;
        background-color: #fff;
        padding: .6rem;
        transform: scale(1);
        transition: all .4s;
        
        &--cross {
            transform: rotate(45deg);
        }

        
        /*
        &--animated {
            animation-name: iconTransform;
            animation-duration: .4s;
            animation-fill-mode: forwards;
        }*/ 
    }

    
    &__icon {
        display: block;
        width: 3rem;
        height: auto;
       
    }
    
   
// DATES STYLES & ANIMATIONS
    &__date {
        display: inline-block;
        position: absolute;
        font-family: serif;
        font-size: 3rem;
        font-weight: 700;
        color: rgba(199, 13, 18, .2);
        opacity: 0;
        transform: scale(1);
        
        transition: all .4s;
        z-index: 20;
        
       // &:hover {
        //    color: rgba(199, 13, 18, .8);
        //}
        
        //&:hover + .timeline-item__box {
        //    transform: scale(1.3) ;
        //}
        
        &--right {
            left: calc(50% - 10rem);
            top: -.2rem;
            transform-origin: right;
        }
        
        &--left {
            left: calc(50% + 4rem);
            top: -.2rem;
            transform-origin: left;
        }
        
        &--animated {
            opacity: 0;
            animation-name: appearDate;
            animation-duration: 3s;
            animation-fill-mode: forwards;
        } 
    }

// START TIMELINE HEADERS & HEADER ANIMATION STYLES
    &__head {
        display: inline-block;
        font-weight: 500;
        opacity: 0;
        //transform: scale(1);
        //transform-origin: bottom;
        transition: all .8s;
        
        span {
            font-weight: 300;
            font-size: 1.5rem;
        }        
        
        &:hover {
            cursor: default;
            //transform: scale(1.3);
            //font-size: 2rem;
            font-weight: 700;
            color: $color-flag-red-dark;
        }
        
        &:hover + .timeline-item__date {
            color: rgba($color-flag-red-dark, .8);
            transform: scale(1.3);
        }
        
         &:hover ~ .timeline-item__box {
            transform: scale(1.4) ;
             z-index: 20;
        }
        &:hover ~ .timeline-item__par {
            transform: scale(1.4);
            background-color: rgba($color-flag-red-light, .5);
             z-index: 20;
        }
        
        &--left {
            display: block;
            margin-right: calc(50% + 5rem);
            padding-top: .4rem;
            text-align: right;
        }
        
        &--animated-left {
            animation: fadeInLeft;
            animation-duration: .8s;
            animation-fill-mode: forwards;
        }
        
        &--right {
            display: inline-block;
            position: relative;
            margin-left: calc(50% + 4rem);
            //left: calc(50% + 4rem);
            top: .5rem;
        }
        
        &--animated-right {
            animation: fadeInRight;
            animation-duration: .8s;
            animation-fill-mode: forwards;
        }
    }
    
    &__par {
        max-width: 30rem;
        font-size: 1.3rem;
        line-height: 1.1;
        background-color: rgba(230, 230, 230, .6);
        padding: 2rem;
        box-shadow: 0 3px 10px rgba(0,0,0, .2);
        border-radius: 3px;
        transform: scale(1);
        transform-origin: top;
        transition: all .4s;
        
        //&:hover {
          //      transform: scale(1.5);
            //}
        
        &--left {
            display: inline-block;
            position: relative;
            right: calc(-50% + 35rem);
        }
        
        &--right {
            //display: inline-block;
            position: relative;
            left: calc(50% + 4rem);
            margin-top: 1rem;
        }
    }
}

// TRANSITION OF THE DESCRIPTION PARAGRAPH & PHOTO-LINK APPEARANCE ON TIMELINE
.timeline-item__par,
.timeline-link {
    opacity: 0;
    animation: timelineDescription 2s;
    //animation: translateY() .1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

// TIMELINE PHOTO-LINKS STYLES
.timeline-link {
    position: relative;
    overflow: hidden;
    width: 20rem;
    height: 12rem;
    transition: all .2s;
    margin-top: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0, .4);
    border-radius: 3px;
    z-index: 1;
    
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 1rem 1.5rem rgba(0,0,0, .3);
        filter: brightness(80%);
        }
    
    &__right {
        display: inline-block;
        margin-left: calc(50% + 4rem);
    }
    
    &__left {
        right: calc(-50% + 24rem);
    }
    
    &__img img {
        width: 100%;
    }
    
    &__btn {
        @include absCenter;
        display: block;
        background-color: rgba(0,0,0, .6);
        z-index: 20;
        
    }
}

// 3 SEPARATE COLOR SECTIONS OF THE TIMELINE AXIS
 .timeline-item__tag {
     //margin-top: 35rem;
     //margin-left: 5rem;
     //float: left;
     position: absolute;
     display: block;
     color: rgba(200,200,200, .6);
     font-size: 7rem;
     font-weight: 500;
     letter-spacing: 6px;
     transform: rotate(270deg);
     transform-origin: right;
     line-height: 1;
}

.timeline-item__prewar {
    //position: relative;
    width: 100%;
    background-color: #fafafa;
    padding: 4px 0;
    text-align:left;
    
    }

.timeline-item__war {
    //position: relative;
    width: 100%;
    background-color: #f7f7f7;
    padding: 4px 0;
    text-align:left;
    }
        
.timeline-item__postwar {
    //position: relative;
    width: 100%;
    background-color: #f2f2f2;
    padding: 4px 0;
    text-align:left;
    padding-bottom: 6rem;

    }

//=================================
// Mobile tabPort TIMELINE STYLES - 600-900px
//=================================

@include respond(tabPort) {
    
    .mobile-timeline-item {
        
        position: relative;
        width: 100%;
        margin-top: 5rem;
        
        &__head {
            display: inline-block;
            //margin-left: 25%;
            margin-left: 24rem;
            margin-right: 0;
            font-weight: 500;
            color: rgba($color-text-gray-medium, .7);
            border-bottom: 1px solid rgba($color-text-gray-medium, .7);
            animation: fadeInRight;
            animation-duration: .8s;
            animation-fill-mode: forwards;
            
            &:hover {
            //font-weight: 700;
            color: $color-flag-red-dark;
            }
        
            &:hover ~ .mobile-timeline-item__date {
                color: rgba($color-flag-red-dark, .8);
                transform: scale(1.3);
            }
        
            &:hover ~ .mobile-timeline-item__icon-container {
                transform: scale(1.4) ;
                 z-index: 20;
            }
            &:hover ~ .mobile-timeline-item__par {
                transform: scale(1.4);
                background-color: rgba($color-flag-red-light, .5);
                z-index: 20;
            }
        }
        
        &__date {
            display: inline-block;
            position: absolute;
            left: 6rem;
            top: -1rem;
            //display: block;
            //position: absolute;
            font-family: Georgia;
            font-size: 3rem;
            font-weight: 700;
            color: rgba(199, 13, 18, .2);
            //opacity: 0;
            transform: scale(1);
            transition: all .4s;
            transform-origin: right;
            
            &--right {
                top: 0rem;
            }
        }
        
        &__icon-container {
            position: absolute;
            display: inline-block;
            left: 16rem;
            top: -.6rem;
            background-color: #fff;
            padding: .6rem;
            //transform: rotate(45deg);
            transition: all .4s;
        }
        
        &__icon-img {
            transform: scale(1);
        }
        
        &__par {
            position: relative;
            display: block;
            left: 24rem;
            max-width: 33rem;
            font-size: 1.4rem;
            line-height: 1.1;
            background-color: rgba(230, 230, 230, .6);
            padding: 2rem;
            box-shadow: 0 3px 10px rgba(0,0,0, .2);
            border-radius: 3px;
            transform: scale(1);
            transform-origin: 0 0;
            transition: all .4s;
        }
        
        &__link-right {
            margin-left: 24rem;
        }
    }
    
    
    
// STYLES FOR DATES AT THE BOTTOM & TOP OF THE TIMELINE AXIS
    .timeline-date {

        &__container {
            text-align: left;
            width: 100%;

// RAISED BOTTOM DATE BY 8 REM - div "row" has 8rem margin-bottom        
            &--bottom {
                position: relative;
                top: -8rem;
            }
        }

        &__top,
        &__bottom {
            position: relative;
            display: inline-block;
            //text-align: center;
            font-family: Georgia;
            font-size: 4rem;
            font-weight: 700;
            line-height: 1;
            margin-bottom: -3rem;
            left: 13.5rem;
        }

        &__top {
            border-bottom: 2px solid black;
            margin-bottom: .5rem;
        
        }

        &__bottom {
            border-top: 2px solid black;
        }
    }


    // TIMELINE 'AXIS' START
    .timeline-axis {
        position: relative;

        &::before {
            position: absolute;
            left: 18rem;
            content: "";
            width: 2px;
            background-color: #555;
            height: 100%;
        }
    }
    // TIMELINE 'AXIS' STYLES END 



    }


/*
//ANIMATION fadeInLeft DELAY - START
    &:nth-of-type(2) &__box--animated {
        animation-delay: .2s;
    }
    
    &:nth-of-type(3) &__box--animated {
        animation-delay: .4s;
    }
    
    &:nth-of-type(4) &__box--animated {
        animation-delay: .6s;
    }
    
    &:nth-of-type(5) &__box--animated {
        animation-delay: .8s;
    }*/


        /*
        &--animated {
            opacity: 0;
            animation: fadeInRight;
            animation-duration: .3s;
            animation-fill-mode: forwards;
        } 
    }
    
    // START ANIMATION fadeInRight DELAY 
    &:nth-of-type(1) &__head--animated {
        animation-delay: .3s;
    }
    
    &:nth-of-type(2) &__head--animated {
        animation-delay: .6s;
    }
    
    &:nth-of-type(3) &__head--animated {
        animation-delay: .9s;
    }
    
    &:nth-of-type(4) &__head--animated {
        animation-delay: 1.2s;
    }
    
    &:nth-of-type(5) &__head--animated {
        animation-delay: 1.5s;
    } */
// END TIMELINE HEADERS

/*
.timeline-item__date:hover + .timeline-item__box {
            background-color: red;
        }
*/