// TIMELINE LINE START
.timeline-container {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
    &::before {
        position: absolute;
        content: "";
        width: 2px;
        background-color: #555;
        height: 100%;
    }
}
// TIMELINE LINE END 

.timeline-container ul {
    list-style: none;
}

.timeline-item {
    position: relative;
    margin: 4rem 0;
 
//ANIMATION fadeInLeft DELAY - START
    &:nth-of-type(2) &__box {
        animation-delay: .2s;
    }
    
    &:nth-of-type(3) &__box {
        animation-delay: .4s;
    }
    
    &:nth-of-type(4) &__box {
        animation-delay: .6s;
    }
    
    &:nth-of-type(5) &__box {
        animation-delay: .8s;
    }
    
//ANIMATION fadeInRight DELAY - START
    &:nth-of-type(1) &__head {
        animation-delay: .3s;
    }
    
    &:nth-of-type(2) &__head {
        animation-delay: .6s;
    }
    
    &:nth-of-type(3) &__head {
        animation-delay: .9s;
    }
    
    &:nth-of-type(4) &__head {
        animation-delay: 1.2s;
    }
    
    &:nth-of-type(5) &__head {
        animation-delay: 1.5s;
    }
//ANIMATION fadeInRight DELAY - END
    
    &__box {
        display: inline-block;
        position: absolute;
        left: -1.8rem;
        top: -.6rem;
        background-color: #fff;
        padding: .5rem;
        opacity: 0;
        animation-name: fadeInLeft;
        animation-duration: .4s;
        animation-fill-mode: forwards;
    }
    
    &__icon {
        display: block;
        width: 3rem;
        height: auto;
    }
    
    &__date {
        display: inline-block;
        position: absolute;
        top: -4.5rem;
        left: 3rem;
        font-family: serif;
        font-size: 5rem;
        font-weight: 700;
        color: rgba(199, 13, 18, .2);
        animation-name: appearDate;
        animation-duration: 3s;
    }
    
    &__head {
        display: inline-block;
        margin-left: 3rem;
        font-weight: 500;
        opacity: 0;
        animation: fadeInRight;
        animation-duration: .5s;
        animation-fill-mode: forwards;
    }
}