// TIMELINE 'AXIS' START
.timeline-axis {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
    &::before {
        position: absolute;
        left: 50%;
        content: "";
        width: 2px;
        background-color: #555;
        height: 100%;
    }
}
// TIMELINE 'AXIS' STYLES END 


// START STYLES FOR THE CONTAINER FOR EACH DATE ITEM
.timeline-item {
    position: relative;
    margin-bottom: 6rem;
    
    &:first-child {
        margin-top: 6rem;
    }

// START TIMELINE ICON STYLES
    &__box {
        display: inline-block;
        position: absolute;
        left:48%;
        background-color: #fff;
        padding: .5rem;
        //opacity: 0;
    }
        
        /*
        &--animated {
            opacity: 0;
            animation-name: fadeInLeft;
            animation-duration: .4s;
            animation-fill-mode: forwards;
        } 
    }
//ANIMATION fadeInLeft DELAY - START
    &:nth-of-type(2) &__box--animated {
        animation-delay: .2s;
    }
    
    &:nth-of-type(3) &__box--animated {
        animation-delay: .4s;
    }
    
    &:nth-of-type(4) &__box--animated {
        animation-delay: .6s;
    }
    
    &:nth-of-type(5) &__box--animated {
        animation-delay: .8s;
    }*/
    
    &__icon {
        display: block;
        width: 3rem;
        height: auto;
       //transform: rotate(25deg);
    }
    
   
// DATES STYLES & ANIMATIONS
    &__date {
        display: inline-block;
        position: absolute;
        font-family: serif;
        font-size: 3rem;
        font-weight: 700;
        color: rgba(199, 13, 18, .2);
        //opacity: 0;
        
        &--right {
            left: calc(50% + 4rem);
            top: -2.6rem;
        }
        
        &--left {
            left: calc(50% - 11rem);
            top: -2.6rem;
        }
        
        /*
        &--animated {
            opacity: 0;
            animation-name: appearDate;
            animation-duration: 3s;
            animation-fill-mode: forwards;
        } */
    }

// START TIMELINE HEADERS STYLES
    &__head {
        //display: inline-block;
        font-weight: 500;
        //opacity: 0;
        
        
        &--left {
            display: block;
            margin-right: calc(50% + 5rem);
            padding-top: .4rem;
            text-align: right;
        }
        
        &--animated-left {
            animation: fadeInLeft;
            animation-duration: .8s;
            animation-fill-mode: forwards;
        }
        
        &--right {
            display: inline-block;
            position: relative;
            left: calc(50% + 4rem);
            top: .5rem;
            opacity: 0;
        }
        
        &--animated-right {
            animation: fadeInRight;
            animation-duration: .8s;
            animation-fill-mode: forwards;
        }
    }
        
        /*
        &--animated {
            opacity: 0;
            animation: fadeInRight;
            animation-duration: .3s;
            animation-fill-mode: forwards;
        } 
    }
    
    // START ANIMATION fadeInRight DELAY 
    &:nth-of-type(1) &__head--animated {
        animation-delay: .3s;
    }
    
    &:nth-of-type(2) &__head--animated {
        animation-delay: .6s;
    }
    
    &:nth-of-type(3) &__head--animated {
        animation-delay: .9s;
    }
    
    &:nth-of-type(4) &__head--animated {
        animation-delay: 1.2s;
    }
    
    &:nth-of-type(5) &__head--animated {
        animation-delay: 1.5s;
    } */
// END TIMELINE HEADERS
}