
.cards-container {
    @include clearfix;
    width: 100%;
    //padding: 5rem 0 10rem 0;
}

.menu-card {
    position: relative;
    background-color: #fbfbfb;
    padding: 3rem 4rem;
    //height: 40rem;
    border-radius: 3px;
    box-shadow: 0 1rem 1.5rem rgba(0,0,0, .2);
    transition: all .2s;
    margin-top: 2rem;
    
    @include respond(tabPort) {
        padding: 5rem;
        background-color: #fefefe;
    }
    
    @include respond(phone) {
        padding: 4rem 2rem;
    }
    
    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 3rem rgba(0,0,0, .2);
    }
    
    &__icon-container {
        display: block;
        width: 100%;
        text-align: center;
        height: 10rem;
        
        @include respond(tabPort) {
            height: 10rem;
            margin-bottom: 3rem;
        }
    }
    
    &__icon {
        display:inline-block;
        width: 40%;
        
        @include respond(tabPort) {
            height: 100%;
            width: auto;
        }
    }
    
    &__par {
        margin-bottom: 2rem;
        
        @include respond(tabPort) {
            margin: 2rem 3rem 4rem 3rem;
            font-size: 2rem;
        }
    }
    
    &__button-container {
    
    }

    &__button-background {
        display: inline-block;
        background-color: $color-flag-red-dark;
        border-radius: 3px;
    }
}





.about-icon {
    text-align: center;
    height: 10rem;
    
    &__img {
        height: 100%;
        
    }
}
