.photo-container {
    
    @include clearfix;
    list-style: none;
    width: auto;
    border: 1px solid blue;
    
   
    
    &__item {
        display: block;
        float: left;
        width: 25%;
        border: 1px solid black;
    }
    
    &__photo {
        width: 100%;
        
        //position: relative;
        overflow: hidden;
        //background-color: #f00;
    
    
         img {
            opacity: 0.5;
             
            width: 100%;
            //height: auto;
            //transform: scale(1.6);
            //transition: transform .5s, filter .5s ; //opacity
            -webkit-filter: sepia(50%);
            filter: sepia(50%);
             z-index: 0;
        }
        
        figcaption {
            display: none;
            background-color: white;
            //position: absolute;
            //top: .2rem;
            font-size: 1rem;
            width: auto;
            z-index: 10;
            margin-bottom: 5rem;
            
        }
    }
    
    &__caption {
          position: absolute;
        left: .5rem;
        width: 25%;
        text-align: center;
          background-color: rgba(255,255,255, .8);
          z-index: 10;
        }
        
    &__photo img:hover {
        //transform: scale(1.05);
        //opacity: .9;
        
        -webkit-filter: sepia(0%);
        filter: sepia(0%);
        
    }
    
    
}