// POPUP WINDOW STYLES
.timeline-popup {
    position: relative;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .8);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;

// :target - STYLE FOR THE TRANSITION OF ENTIRE POPUP
    &:target {
        opacity: 1;
        visibility: visible;
    }

// :target &__content - STYLE FOR THE TRANSITION OF THE CONTENT WINDOW ITSELF
    &:target &__content {
         transform: translate(-50%, -50%) scale(1);   
    }
    
    &__close {
        &:link,
        &:visited {
            display: inline-block;
            color: $color-text-gray-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            line-height: 1;
            font-size: 3rem;
            text-decoration: none;
            transition: all .3s;
            font-weight: 300;
        }
        
        &:hover {
            font-weight: 500;
        }
    }
    
    &__content {
        @include absCenter;
        
        width: 75%;
        background-color: #fff;
        height: 40rem;
        border-radius: 3px;
        box-shadow: 0 2rem 4rem rgba(0,0,0, .3);
        overflow: hidden;
        display: table;
        transform: translate(-50%, -50%) scale(.3);
        transition: all .3s .4s;
    }
    
    &__left {
        width: 33.33333%;
        display: table-cell;
    }
    
    &__right {
        width: 66.66666%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }
        
    &__img {
        display: block;
        width: 100%;
    }
            
    &__text {
        overflow-y: scroll;
        height: 22rem;
    }
}


// TIMELINE AXIS - PHOTOS & LINK FOR POPUP WINDOW STORIES
/*
.timeline-link {
    position: relative;
    width: 200px;
    height: 120px;
   // border: 1px solid black;
    background-color: red;
    box-shadow: 0rem .5rem 1rem rgba(0,0,0, .3);
    border-radius: 3px;
    background:
        linear-gradient(
            rgba(0,0,0, 0.3),
            rgba(0,0,0, 0.3)
        ),
        url(../img/polish-soviet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    transition: all 1s;
    z-index: 100;
    margin: 1rem 0;
    
    &:hover {
         background:
        linear-gradient(
            rgba(0,0,0, 0.6),
            rgba(0,0,0, 0.6)
        ),
        url(../img/polish-soviet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
}
    
    &__right {
        margin-left: calc(50% + 4rem);
        
    }
    
    &__left {
        display: inline-block;
        right: calc(-50% + 25rem);
    }
*/
/*
// CLEAR PHOTO BUTTON STYLES
    &__btn {
        
        &--clear {
            display: inline-block;
            text-decoration: none;
            font-family: sans-serif;
            display: inline-block;
            box-sizing: border-box;
            padding: 10px 20px;
            border: 1px solid rgba(255,255,255, .6);
            color: rgba(255,255,255, .6);
            border-radius: 3px;
            font-size: 16px;
            margin-top: 35px;
            transition: all .5s;
            text-transform: uppercase;
            
            &:after {
                position: absolute;
                display: inline-block;
                left: 125px;
                top: 46px;
                content: ">";
                font-family: monospace;
                font-size: 15px;
            }

            &:hover {
                border: 1px solid rgba(255,255,255, 1);
                color: rgba(250,250,250, 1);
                text-decoration: underline;
            }
        }
    }
    
}
*/