// POPUP WINDOW STYLES
.timeline-popup {
    position: relative;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .8);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;

// :target - STYLE FOR THE TRANSITION OF ENTIRE POPUP
    &:target {
        opacity: 1;
        visibility: visible;
    }

// :target &__content - STYLE FOR THE TRANSITION OF THE CONTENT WINDOW ITSELF
    &:target &__content {
         transform: translate(-50%, -50%) scale(1);   
    }
    
    &__heading {
        
        @include respond(tabLand) {
            font-size: 2.5rem;
        }
        
        @include respond(tabPort) {
            font-size: 3.5rem;
        }
        
        @include respond(phone) {
            font-size: 3.5rem;
            margin-top: 4rem;
        }
    }
    
    &__close {
        &:link,
        &:visited {
            display: inline-block;
            color: $color-text-gray-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            line-height: 1;
            font-size: 3rem;
            text-decoration: none;
            transition: all .3s;
            font-weight: 300;
            
            @include respond(tabPort) {
                font-weight: 500;
            }
        }
        
        &:hover {
            font-weight: 500;
        }
    }
    
    &__content {
        @include absCenter;
        @include clearfix;
        
        width: 75%;
        background-color: #fff;
        height: 40rem;
        border-radius: 3px;
        box-shadow: 0 2rem 4rem rgba(0,0,0, .3);
        overflow: hidden;
        display: table;
        transform: translate(-50%, -50%) scale(.3);
        transition: all .3s .4s;
        
        @include respond(tabPort) {
            display: block;
            width: 85vw;
            height: 85vh;
            margin: 0 auto;
            padding: 3rem 4rem;
            text-align: center;
        }
        
        @include respond(phone) {
            display: block;
            width: 95vw;
            height: 95vh;
            margin: 0 auto;
            padding: 0rem 0rem;
            text-align: center;
        }
    }
    
    &__left {
        width: 33.33333%;
        display: table-cell;
        float: left;
        
        @include respond(tabPort) {
            display: block;
            width: 100%;
            height: 30%;
        }
        
        @include respond(phone) {
            display: block;
            width: 100%;
            height: 25%;
            padding-top: 2rem;
        }
    }
    
    &__right {
        width: 66.66666%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
        float: right;
        
        @include respond(tabPort) {
            display: block;
            width: 100%;
        }
        
         @include respond(phone) {
            display: block;
            width: 100%;
            height: 75%;
            padding: 0;
        }
    }
        
    &__img {
        display: block;
        width: 100%;
        
        @include respond(tabPort) {
            display: inline-block;
            height: 100%;
            width: auto;
        }
        
        @include respond(phone) {
            display: inline-block;
            width: 49%;
            height: auto;
            padding: 0;
        }
    }
            
    &__text {
        height: 22rem;
        text-align: left;
        overflow-y: scroll;
        
        @include respond(phone) {
           padding: 1rem 5rem;
            font-size: 2.5rem;
            height: 70%;
        }
    }
    
    
}

