// Global rules instead of Normalize.com
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Definition of 1rem
html {
    font-size: 62.5%; // 1rem = 10px;
    
    @include respond(tabLand) { //1rem = 9px;
        font-size: 56.25%;
    }
    
    @include respond(tabPort) { // 1rem = 8px
        font-size: 50%;
    }
    
    @include respond(phone) { //1rem = 8px
        font-size: 40%;
    }
    
    @include respond(bigDesktop) {
        font-size: 75%; // 1rem = 12px;
    }
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-text-gray-medium;
}


