.heading-secondary {
    font-size: 3.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    font-weight: 300;
        
    
    &:after {
        display: block;
        content: "";
        height: 2px;
        background-color: orange;
        width: 15rem;
        margin: 3rem auto;
    }
}

.long-copy {
    display: inline-block;
    max-width: 70rem;
    text-align: justify;
}

.heading-tertiary {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.span-bold {
    font-weight: 500;
}