.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 300;
    /*
    background-image: linear-gradient(
        to right, 
        $color-flag-red-light, 
        $color-flag-red-dark
    );
    -webkit-background-clip: text;    
    background-clip: text;    
    color:transparent;
    letter-spacing: 2px;
    */
    
    &:after {
        display: block;
        content: "";
        height: 2px;
        background-color: orange;
        width: 15rem;
        margin: 3rem auto;
    }
}
